#wrapper {
    width: 960px;
    background-color: aqua;
}
#names {
    line-height: 13px;
    width: 250px;
}
#names p {
    padding-left: 30px;
}
#paragraph h1, p {
    width: 320px;
}
#paragraph {

}
#footer {
    background-color: red;
    color: white;
    height: 120px;
    line-height: 120px;
    text-align: center;
}
#names h3 {
    padding-left: 10px;
}
#header {
    height: 138px;
    line-height: 100px;
}
#bottomBorder {
    border: black 5px solid;
    height: 550px;

}
#AJ {
    width: 318px;
    border-right: 5px black solid;
}
#pic {
    height: 138px;
    width: 180px;
    margin-right: 580px;
}
#links {
    text-align: right;
}
.pageCenter {
    margin-left: auto;
    margin-right: auto;
}
.clearFix {
    clear: both;
}
.floatLeft {
    float: left;
}
.inLine {
    display: inline;
}